body{
    background-image: url(https://imgs.search.brave.com/TTusVEA9JPWMT1aNe_feIJYyjQXr8idwuCo0CSmQrYY/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9pLnBp/bmltZy5jb20vb3Jp/Z2luYWxzL2U1L2Ez/L2Y5L2U1YTNmOWZl/YmNmOWQ5MzM1ZTFl/YWYxY2UyNWI5NGZi/LmpwZw);
}
#img{
    position: relative;
    width: 800px;
    height: auto;
   }
   
  #img1 {
    display: block;
    margin: 0 auto;
    width: 50%;
    height: auto;
   }
   #p1{
    position: absolute;
    left:500px ;
    font-style: italic;
    font-size: 27px;
   }
#start{ 
    position: absolute;
    left: 75vw;  
    bottom: 50vh;
    padding: 10px;
    border: 3px solid blue;
    background-color:rgb(51, 49, 49);
    color: white;
}